/* general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

:root {
  --bz-blocks-height: 70px;
  --bz-primary: #333;
  --bz-body: #009689;
  --bz-body-b: #dadbd4;
  --bz-user: #ebe9eb;
  --bz-notification: #8edafc;


}

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  background: linear-gradient(to bottom,
      #009688 0%,
      #009688 15%,
      #dadbd4 15%,
      #dadbd4 100%);
}

.flex {
  display: flex;
}

.debug * {
  border: 1px dashed black;
}

.user-profile {
  background-color: var(--bz-body-b);
  padding 10px 15px;
  justify-content: space-between;
}

.user-profile .icon {
  font-size: 20px;
  color: var(--bz-body-b);

}

.notifications {
  background-color: var(--bz-notification);
}

.news{
  color: var(--notification);
  font-size: 14px;
  margin-top: 3px;
}

.notifications .news{
  font-size: 16px;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px
}

.news{
  font-size: 14px;
  margin-top: 3px;
}
  

.search {
  background-color: palegoldenrod;
}

.contacts_list {
  background-color: var(--bz-user);
}


.contact_profile {
  background-color: var(--bz-body-b);
}

.chat {
  background-color: var(--bz-body-b);

  >div {
    width: 300px;
  }
}

.prompt {
  background-color: deeppink;
}


body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  background: linear-gradient(to bottom,
      #009688 0%,
      #009688 15%,
      #dadbd4 15%,
      #dadbd4 100%);
}


#app {
  height: 95vh;
  margin: 1rem auto 2rem;
  max-width: 1200px;
  display: flex;

  @media (max-width: 991px) {
    height: 100%;
    margin: 0;
  }



  .left {
    width: 320px;
    height: 100%;



    &>div:not(:nth-child(4)) {
      height: var(--bz-blocks-height);
    }

    &> :nth-child(4) {
      height: calc(100% - (var(--bz-blocks-height) * 3));
      overflow-y: scroll;
    }



    @media screen and (max-width: 991px) {
      width: 120px;

      &>.notifications,
      &>.search {
        display: none;
      }

      &>.contacts_list {
        height: calc(100% - 70px);
      }
    }

    @media screen and (max-width: 540px) {
      display: none;
    }



  }

  .right {
    flex-grow: 1;


    >.contact_profile,
    >.prompt {
      height: 70px;
    }

    >.chat {
      height: calc(100% - 140px);
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      padding: 2rem;

      &>div {
        min-height: 140px;
      }

      >.sent {
        align-self: flex-end;
      }

      >.received {
        align-self: flex-start;
      }

    }


  }

}